<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:p="http://primefaces.org/ui"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core">
    <p:panel>
        <h:panelGrid id="panel" columns="2">
            <h:outputLabel for="" value="" />
            <p:growl id="mensajes" showDetail="true" life="2000" /> 
            <p:outputLabel for="firstName" value="Nombre:" />
            <p:inputText value="#{firstName}" id="firstName" label="firstName" required="true" requiredMessage="El nombre es requerido " validatorMessage="El máximo de letras es 15" size="40">
                <f:validateLength maximum="15" />
            </p:inputText>
            <p:outputLabel for="lastName" value="Primer Apellido:" />
            <p:inputText value="#{lastName}" id="lastName" label="lastName" validatorMessage="El máximo de letras es 15" size="40">
                <f:validateLength maximum="15" />
            </p:inputText>
            <p:outputLabel for="secondLastName" value="Segundo Apellido:" />
            <p:inputText value="#{secondLastName}" id="secondLastName" required="false" label="secondLastName" validatorMessage="El máximo de letras es 15" size="40">
                <f:validateLength maximum="15" />
            </p:inputText>
            <p:outputLabel for="email" value="Correo Electrónico:" />
            <p:inputText id="email" label="email" validatorMessage="Formato inválido" size="45" value="#{email}" >
                <f:validateRegex pattern="^[_A-Za-z0-9-\+]+(\.[_A-Za-z0-9-]+)*@[A-Za-z0-9-]+(\.[A-Za-z0-9]+)*(\.[A-Za-z]{2,})$" />
            </p:inputText>
            <p:outputLabel for="phone" value="Teléfono:" />
            <p:inputText value="#{phone}" id="phone" required="false" label="phone" validatorMessage="El número debe contener 11 caracteres" >
                <f:validateLength maximum="8" minimum="8"/>
            </p:inputText>
            <p:outputLabel for="cellPhone" value="Teléfono Celular:" />
            <p:inputText value="#{cellphone}" id="cellPhone" required="false" label="cellPhone" validatorMessage="El número debe contener 11 caracteres">
                <f:validateLength maximum="8" minimum="8"/>
            </p:inputText>
            <p:outputLabel for="birthDate" value="Fecha de Nacimiento:" />
            <p:calendar value="#{birthDate}" id="birthDate" showOn="button" />  
            <p:outputLabel value="Género " />  
            <p:selectOneMenu value="#{gender}" required="true" requiredMessage="El género es requerido" style="width: 140px" >  
                <f:selectItem itemLabel="Seleccionar" itemValue="" />  
                <f:selectItem itemLabel="Masculino" itemValue="M" />  
                <f:selectItem itemLabel="Femenino" itemValue="F" />  
            </p:selectOneMenu>  
        </h:panelGrid>
    </p:panel>
</ui:composition>