<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <ui:composition xmlns:ui="http://java.sun.com/jsf/facelets">

        <p:dialog id="dialog1" minimizable="true" maximizable="true" widgetVar="insertImagesCategory" width="600" height="500" header="Subir Imágenes" resizable="false" showEffect="fade" hideEffect="fade">
            <h:form id="forms">


                <p:dataTable var="picture" value="#{tableBean.mediumCarsModel}" paginator="true" rows="10"
                             selection="#{tableBean.selectedCars}">
                    <p:ajax event="rowSelectCheckbox" listener="#{tableBean.check}"   />
                    
                    <f:facet name="header">  
                        <p:outputPanel>  
                            <h:outputText value="Asignar Album" />  <br/>
                            <p:selectOneMenu value="#{pictureController.selectedAlbum}" effect="fade" converter="Album" >
                                <f:selectItem itemLabel="Select One" itemValue="" />
                                <f:selectItems value="#{pictureController.albums}" var="album" itemLabel="#{album.category}" itemValue="#{album}"/>
                            </p:selectOneMenu>
                        </p:outputPanel> 
                    </f:facet>  

                    <p:column selectionMode="multiple" />

                    <p:column headerText="Nombre">
                        #{picture.name}
                    </p:column>      

                    <f:facet name="footer">  
                        <p:commandButton id="asx" value="View" icon="ui-icon-search" actionListener="#{tableBean.update}"  />  
                    </f:facet>  

                </p:dataTable>
            </h:form>
        </p:dialog>
    </ui:composition>
</html>
