<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:p="http://primefaces.org/ui"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core">
    <p:dialog id="digInsertUser" minimizable="true" maximizable="true" widgetVar="insertUser" width="700" height="360" header="Registrar Usuario" resizable="false" showEffect="fade" hideEffect="fade" >  
        <h:form id="formInsertUser" >    
            <ui:include src="/insert/InsertUserDialog.xhtml" />

            <f:facet name="footer">
                <p:commandButton id="loginButton" value="Registrar" actionListener="#{userController.insert}" update="panel" />
            </f:facet>
        </h:form>
    </p:dialog>
</ui:composition>