<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <ui:composition xmlns:ui="http://java.sun.com/jsf/facelets">

        <h:form>


            <p:dialog id="dialogAlbum" minimizable="true" maximizable="true" widgetVar="insertAlbum" width="400" height="400" header="Crear Album" resizable="false" showEffect="fade" hideEffect="fade">


                <p:panel id="panel" header="New Person">  
                    <p:growl id="growl" sticky="true" showDetail="true"/>  
                    <p:messages id="msgs"/>  

                    <h:panelGrid columns="3">  
                        <h:outputLabel for="firstname" value="Firstname: *" />  
                        <p:inputText id="firstname" value="#{albumController.category}" required="true" label="Firstname">  
                            <f:validateLength minimum="2" />  
                        </p:inputText>  
                        <p:message for="firstname" display="icon"/>  

                        <h:outputLabel for="surname" value="Surname: *" />  
                        <p:inputText id="surname" value="#{albumController.category}" label="Surname" required="true">  
                            <f:validateLength minimum="2" />  
                            <p:ajax update="msgSurname" event="keyup" />  
                        </p:inputText>  
                        <p:message for="surname" id="msgSurname" display="icon"/>  

                    </h:panelGrid>  

                    <p:commandButton id="btn" value="Save" update="growl" actionListener="#{personBean.savePerson}"/>  
                </p:panel>  
            </p:dialog>
        </h:form>

    </ui:composition>
</html>