<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:p="http://primefaces.org/ui"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core">
    <p:dialog id="digInsertNews" minimizable="true" maximizable="true" widgetVar="insertNews" width="400" height="350" header="Insertar Noticias" resizable="true" showEffect="fade" hideEffect="fade">
        <p:messages />    

        <h:form id="formInsertNews" >
            <h:panelGrid id="panel">

                <h:outputLabel for="title" value="Título:" />
                <p:inputText value="#{newsController.title}" id="title" label="title" validatorMessage="El máximo de letras es 15" required="true" requiredMessage="El título es requerido">
                    <f:validateLength maximum="20" />
                </p:inputText>
                <p:message for="title" />  
                <h:outputText value="#{newsController.title}" />  

                <h:outputLabel for="description" value="Descripción: " />
                <p:inputTextarea id="description" value="#{newsController.description}" rows="5" cols="30" counter="counter" maxlength="1000"       
                                 counterTemplate="{0} caracteres faltantes" autoResize="false" required="true" requiredMessage="La descripción es requerida"/>  
                <p:message for="description" />  
                <h:outputText id="counter" />
                
                <f:facet name="footer">
                    <p:commandButton id="loginButton" value="Registrar" actionListener="#{newsController.insert}" update="panel" />
                </f:facet>
            </h:panelGrid>
        </h:form>
    </p:dialog>
</ui:composition>