<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">
    <ui:composition xmlns:ui="http://java.sun.com/jsf/facelets">
        <p:dialog minimizable="true" maximizable="true" widgetVar="insertImages" width="620" height="300" header="Subir Imágenes" resizable="false" showEffect="fade" hideEffect="fade">
            <h:form id="forms1">
                <p:growl id="mensajes" showDetail="true" life="2000" />

        
                     

                <p:fileUpload fileUploadListener="#{pictureController.uploadImage}" mode="advanced" dragDropSupport="true"  
                              update="mensajes"  allowTypes="/(\.|\/)(gif|jpe?g|png)$/" />  
            
                    
            </h:form>
        </p:dialog>
    </ui:composition>
</html>