<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">


    <h:head>
        <h:outputStylesheet library="css" name="style.css"  />
        <title>CCI Vida Abundante Admin</title>
    </h:head>
    <h:body>

        <ui:include src="/menu.xhtml" />   


        <!--CONSOLIDATION -->

        <ui:include src="/Consolidation/InsertUser.xhtml" />       
        <ui:include src="/Consolidation/AssignUser.xhtml" />

        <!--GROUP-->

        <ui:include src="/Group/InsertUser.xhtml" />   
        <ui:include src="/Group/SearchUser.xhtml" />        
        <ui:include src="/Group/InsertGroup.xhtml" />
        <ui:include src="/Group/InsertMessage.xhtml" />
        <ui:include src="/Group/PrintMensualReport.xhtml" /> 
        <!--
               <p:dock>
                   <p:menuitem value="Insertar Usuario" icon="/resources/images/user-add.png" url="#" onclick="PF('GIUser').show();" />
                   <p:menuitem value="Buscar Usuario" icon="/resources/images/user-add.png" url="#" onclick="PF('GSUser').show();" />
       
                 
                   <p:menuitem value="Insertar Usuario" icon="/resources/images/user-add.png" url="#" onclick="PF('insertUser').show();" />
                   <p:menuitem value="Asignar Usuario" icon="/resources/images/user-add.png" url="#" onclick="PF('assignUser').show();" />
                  
               </p:dock>
        -->
        <script language="javascript" src="#{request.contextPath}/syntaxhighlighter/scripts/sh.js"></script>
        <script language="javascript">
            dp.SyntaxHighlighter.ClipboardSwf = '#{request.contextPath}/syntaxhighlighter/scripts/clipboard.swf';
            dp.SyntaxHighlighter.HighlightAll('code');
        </script>

    </h:body>


</html>

