<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui" >
    <h:head>
        <h:outputStylesheet library="css" name="style.css"  />
        <title>CCI Vida Abundante Admin</title>
    </h:head>
    <h:body>
        <p:growl id="mensajes" showDetail="true" life="2000" />
        <h:form id="form" >


            <p:panel header="Inicio de Sesión" id="login" styleClass="loginPanel" >

                <h:panelGrid columns="3">

                    <p:outputLabel for="username" value="Usuario:" />
                    <p:inputText value="#{login.name}" id="username" required="true" label="username" requiredMessage="Usuario requerido"/>
                    <p:message for="username" display="text"/>  

                    <p:outputLabel for="password" value="Contraseña:" />
                    <p:password value="#{login.password}" id="password" required="true" requiredMessage="Contraseña requerida"/>
                    <p:message for="password" display="text"/>  
                    <f:facet name="footer">
                        <p:commandButton id="loginButton" value="Ingresar" actionListener="#{login.login}" update="form" />
                        <p:commandLink id="ajax"  >  
                            <h:outputText  styleClass="help-custom" value="Recuperar Contraseña"/>  
                        </p:commandLink> 
                    </f:facet>
                </h:panelGrid>
            </p:panel>
        </h:form>
    </h:body>
</html>