<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:p="http://primefaces.org/ui"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:form>
        <p:growl id="messages"/> 



        <p:menubar>  


            <p:submenu label="Consolidacion">  
                <p:menuitem value="Ingresar Persona" onclick="PF('ICUser').show();" />  
                <p:menuitem value="Delegar Persona a Lider" onclick="PF('ACUsser').show();" />  
                <p:separator />    
            </p:submenu>  


            <p:submenu label="Célula">  
                <p:menuitem value="Ingresar Discípulo" onclick="PF('GIUser').show();" />  
                <p:menuitem value="Buscar/Eliminar Discípulo" onclick="PF('GSUser').show();" />  
                <p:separator />    
                <p:menuitem value="Ingresar Nueva Célula" onclick="PF('GIGroup').show();" /> 
                <p:menuitem value="Ingresar Enseñanzas" onclick="PF('GIMessage').show();" /> 
                <p:menuitem value="Generar Informe de Célula" onclick="PF('GPMensualReport').show();" /> 
            </p:submenu>  
            <!--
                        <p:submenu label="Edit" icon="ui-icon-pencil">  
                            <p:menuitem value="Undo" url="#" icon="ui-icon-arrowreturnthick-1-w" />  
                            <p:menuitem value="Redo" url="#" icon="ui-icon-arrowreturnthick-1-e" />  
                        </p:submenu>  
            
                        <p:submenu label="Help" icon="ui-icon-help">  
                            <p:menuitem value="Contents" url="#" />  
                            <p:submenu label="Search" icon="ui-icon-search">  
                                <p:submenu label="Text">  
                                    <p:menuitem value="Workspace" url="#" />  
                                </p:submenu>  
                                <p:menuitem value="File" url="#" />  
                            </p:submenu>  
                        </p:submenu>  
            
                        <p:submenu label="Actions" icon="ui-icon-gear">  
                            <p:submenu label="Ajax" icon="ui-icon-refresh">  
                                <p:menuitem value="Save" actionListener="#{menuBean.save}" icon="ui-icon-disk" update="messages"/>  
                                <p:menuitem value="Update" actionListener="#{menuBean.update}" icon="ui-icon-arrowrefresh-1-w" update="messages"/>  
                            </p:submenu>  
                            <p:submenu label="Non-Ajax" icon="ui-icon-newwin">  
                                <p:menuitem value="Delete" actionListener="#{menuBean.delete}" icon="ui-icon-close" update="messages" ajax="false"/>  
                            </p:submenu>  
                        </p:submenu>  
            
                        <p:menuitem value="Quit" url="http://www.primefaces.org" icon="ui-icon-close" />  
            -->
            <f:facet name="options">  
                <p:commandLink id="ajaxNotification"  >  
                    <h:outputText  styleClass="notifications-custom" value="Notificaciones"/>  
                </p:commandLink> 
                <p:commandLink id="ajaxExit"  actionListener="#{login.logout}">  
                    <h:outputText  styleClass="exit-custom" value="Salir" />  
                </p:commandLink> 
        <!--<p:commandButton value="Salir" icon="ui-icon-extlink" actionListener="#{login.logout}" />  --> 
            </f:facet>  
        </p:menubar>  
    </h:form>
</ui:composition>




