<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:p="http://primefaces.org/ui"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core">
    <p:dialog minimizable="true" maximizable="false" widgetVar="GIGroup" width="600"  header="Registrar Célula" resizable="true" showEffect="fade" hideEffect="fade" dynamic="true">

        <ui:include src="/Components/Popup/ZonePopup.xhtml" >
            <ui:param name="key" value="GIGroup" />  
            <ui:param name="provinceName" value="#{groupBean.provinceController.selectedProvince.name}" />  
            <ui:param name="cantonName" value="#{groupBean.provinceController.cantonController.selectedCanton.name}" />  
            <ui:param name="districtName" value="#{groupBean.provinceController.cantonController.districtController.selectedDistrict.name}" />  
        </ui:include>

        <p:panel id="GIGroupPanel">
            <h:form id="GIGroupFrm">  
                <p:growl showDetail="true" life="2000" />
                <p:panelGrid columns="2">
                    <p:outputLabel  value="" />
                    <p:growl id="mensajes" showDetail="true" life="2000" /> 
                    <p:outputLabel for="address" value="Dirección" />
                    <p:inputText value="#{groupBean.group.address}" id="address" label="address" required="true" requiredMessage="La dirección es requerida " validatorMessage="El máximo de letras es xx" size="40">
                        <f:validateLength maximum="50" />
                    </p:inputText>
                    <p:outputLabel for="openDate" value="Fecha de Inicio" />
                    <p:calendar value="#{groupBean.group.openDate}" id="openDate" showOn="button" />  
                    <p:outputLabel value="Día:" />  
                    <p:selectOneMenu value="#{groupBean.group.day}">  
                        <f:selectItem itemLabel="Seleccionar" itemValue="" />  
                        <f:selectItem itemLabel="Lunes" itemValue="L" />  
                        <f:selectItem itemLabel="Martes" itemValue="M" />  
                        <f:selectItem itemLabel="Miércoles" itemValue="M" />  
                        <f:selectItem itemLabel="Jueves" itemValue="J" />  
                        <f:selectItem itemLabel="Viernes" itemValue="V" />  
                        <f:selectItem itemLabel="Sábado" itemValue="S" />  
                        <f:selectItem itemLabel="Domingo" itemValue="D" />  
                    </p:selectOneMenu>  
                    <p:outputLabel value="Hora." />  
                    <p:calendar value="#{groupBean.group.hour}" pattern="HH:mm" timeOnly="true" />
                </p:panelGrid>
                <p:commandButton value="Ingresar" actionListener="#{groupBean.insert}" update="@form"/>
            </h:form>
        </p:panel>

        <ui:include src="/Components/Popup/ProvincesPopup.xhtml" >
            <ui:param name="ProvincePopup" value="GIGroupProvincePopup" />
            <ui:param name="update" value=":GIGroupfrmAssignUser, :idGIGroupCantonPopup" />
            <ui:param name="value" value="#{groupBean.provinceController.provinces}" />
            <ui:param name="selection" value="#{groupBean.provinceController.selectedProvince}" />
        </ui:include>

        <ui:include src="/Components/Popup/CantonPopup.xhtml" >
            <ui:param name="CantonPopup" value="GIGroupCantonPopup" />
            <ui:param name="update" value=":GIGroupfrmAssignUser, :idGIGroupDistrictPopup" />
            <ui:param name="value" value="#{groupBean.provinceController.cantonController.cantons}" />
            <ui:param name="selection" value="#{groupBean.provinceController.cantonController.selectedCanton}" />
        </ui:include>

        <ui:include src="/Components/Popup/DistrictPopup.xhtml" >
            <ui:param name="DistrictPopup" value="GIGroupDistrictPopup" />
            <ui:param name="update" value=":GIGroupfrmAssignUser" />
            <ui:param name="value" value="#{groupBean.provinceController.cantonController.districtController.districts}" />
            <ui:param name="selection" value="#{groupBean.provinceController.cantonController.districtController.selectedDistrict}" />
        </ui:include>

    </p:dialog>
</ui:composition>