<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:p="http://primefaces.org/ui"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core">
    <p:dialog id="idInsertMessage" header="Enseñanzas" widgetVar="GIMessage" resizable="true" minimizable="false" maximizable="false"   width="650">  
        <h:form id="frmInsertMessage">
            <h:panelGrid columns="2">
                <h:outputLabel for="" value="" />
                <p:growl id="msgInsertMessage" showDetail="true" life="2000" /> 
                <p:outputLabel for="name" value="Nombre:" />
                <p:inputText value="#{messageBean.message.name}" id="name" label="name" required="true" requiredMessage="El nombre es requerido " validatorMessage="El máximo de letras es 45" size="45">
                    <f:validateLength maximum="15" />
                </p:inputText>
                <p:outputLabel for="money" value="Ofrenda" />
                <p:inputText value="#{messageBean.message.money}" id="money" label="money" />

                <p:outputLabel for="date" value="Fecha:" />
                <p:calendar value="#{messageBean.message.messageDate}" id="date" showOn="button" required="true" requiredMessage="La fecha es requerida"/>  
                
                <p:outputLabel value="Célula:" />
                <p:selectOneMenu value="#{messageBean.selectedGroup}" effect="fade" converter="Groups" >
                    <p:ajax listener="#{messageBean.change}" update="@form" />
                    <f:selectItem itemLabel="Seleccionar" itemValue="" />  
                    <f:selectItems value="#{messageBean.groups}" var="group" itemLabel="#{group.address}" itemValue="#{group}"/>
                </p:selectOneMenu>  

            </h:panelGrid>


            <ui:include src="/Components/Tables/UserMultiSelection.xhtml" >
                <ui:param name="DataModel" value="#{messageBean.users}" />
                <ui:param name="SelectedValue" value="#{messageBean.selectedUsers}" />
            </ui:include>


            <p:commandButton id="loginButton" value="Registrar" actionListener="#{messageBean.addMessage}" update="@form" icon="ui-icon-add" ajax="true"  />  

        </h:form>
    </p:dialog> 
</ui:composition>