<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:p="http://primefaces.org/ui"
                xmlns:h="http://xmlns.jcp.org/jsf/html">
    <p:dialog id="IGUser" minimizable="true" maximizable="false" widgetVar="GIUser" width="550" height="550" header="Registrar Usuario" resizable="false" showEffect="fade" hideEffect="fade" >  
        <h:form id="FrmIGUser" >  
            <p:panel>
                <p:growl id="IGMessage" showDetail="true" life="2000" />
                <p:panel header="Ingrese la información del usuario"/>
                <ui:include src="/Components/Panel/UserPanel.xhtml" >
                    <ui:param name="firstName" value="#{userBean.user.firstName}" />
                    <ui:param name="lastName" value="#{userBean.user.lastName}" />
                    <ui:param name="secondLastName" value="#{userBean.user.secondLastName}" />
                    <ui:param name="email" value="#{userBean.user.email}" />
                    <ui:param name="phone" value="#{userBean.user.phone}" />
                    <ui:param name="cellphone" value="#{userBean.user.cellphone}" />
                    <ui:param name="birthDate" value="#{userBean.user.birthDate}" />
                    <ui:param name="gender" value="#{userBean.user.gender}" />
                </ui:include>
                <ui:include src="/Components/DropDownList/Group.xhtml" >
                    <ui:param name="selectedValue" value="#{userBean.selectedGroup}" />
                    <ui:param name="items" value="#{userBean.groups}" />
                    <ui:param name="itemLabel" value="#{group.address}" />
                    <ui:param name="itemValue" value="#{group}" />
                </ui:include>
                <div>
                    <p:commandButton id="loginButton" value="Registrar" actionListener="#{userBean.insertUserGroup}" update="@form" icon="ui-icon-add" ajax="true"  />  
                </div>  
            </p:panel>
        </h:form>
    </p:dialog>
</ui:composition>