<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:p="http://primefaces.org/ui"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core">
    <p:dialog id="idPrintMensualReport" header="Generar Informe de Célula" widgetVar="GPMensualReport" resizable="true" minimizable="false" maximizable="false"   width="650">  
        <h:form id="frmPrintMensualReport">
            <h:panelGrid id="panel" columns="2">
                <p:outputLabel value="Célula:" />
                
                <ui:include src="/Components/DropDownList/Group.xhtml" >
                    <ui:param name="selectedValue" value="#{mensualReport.selectedGroup}" />
                    <ui:param name="items" value="#{mensualReport.groups}" />
                    <ui:param name="itemLabel" value="#{group.address}" />
                    <ui:param name="itemValue" value="#{group}" />
                </ui:include>

                <p:outputLabel value="Mes:" />
                <p:selectOneMenu value="#{mensualReport.selectedMonth}" required="true" requiredMessage="El género es requerido" style="width: 140px" >  
                    <f:selectItem itemLabel="Seleccionar" itemValue="" />  
                    <f:selectItem itemLabel="Enero" itemValue="0" />  
                    <f:selectItem itemLabel="Febrero" itemValue="1" />  
                    <f:selectItem itemLabel="Marzo" itemValue="2" /> 
                    <f:selectItem itemLabel="Abril" itemValue="3" /> 
                    <f:selectItem itemLabel="Mayo" itemValue="4" /> 
                    <f:selectItem itemLabel="Junio" itemValue="5" /> 
                    <f:selectItem itemLabel="Julio" itemValue="6" /> 
                    <f:selectItem itemLabel="Agosto" itemValue="7" /> 
                    <f:selectItem itemLabel="Setiembre" itemValue="8" /> 
                    <f:selectItem itemLabel="Octubre" itemValue="9"/> 
                    <f:selectItem itemLabel="Noviembre" itemValue="10" /> 
                    <f:selectItem itemLabel="Diciembre" itemValue="11" /> 
                </p:selectOneMenu>  

                <p:outputLabel for="year" value="Año" />
                <p:inputText value="#{mensualReport.year}" id="year" label="year" validatorMessage="El máximo de caracteres es 4" size="4">
                    <f:validateLength maximum="4" />
                </p:inputText>

                <p:outputLabel />
                <p:commandButton value="Generar Informe" actionListener="#{mensualReport.generateReport}" update="@form" icon="ui-icon-add" ajax="true"  />  

            </h:panelGrid>
        </h:form>
    </p:dialog> 
</ui:composition>