<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:p="http://primefaces.org/ui"
                xmlns:h="http://xmlns.jcp.org/jsf/html">
    <p:dialog id="GSUser" minimizable="true" maximizable="false" widgetVar="GSUser" width="750" height="500" header="Buscar Usuario" resizable="false" showEffect="fade" hideEffect="fade" dynamic="true" >
        <p:ajax event="close" listener="#{userBean.hide}" update="GSUser" />
        <h:form id="FrmGSUser" >  
            <p:panel id="PnlGSUser">
                <p:growl id="GSMessage" showDetail="true" life="2000" />
                <p:panel header="Búsqueda de Usuarios">
                    <h:panelGrid columns="4">
                        <p:outputLabel value="Nombre:" />
                        <p:inputText value="#{userBean.user.firstName}" />
                        
                        <p:outputLabel value="Célula" />
                        <ui:include src="/Components/DropDownList/Group.xhtml" >
                            <ui:param name="selectedValue" value="#{userBean.selectedGroup}" />
                            <ui:param name="items" value="#{userBean.groups}" />
                            <ui:param name="itemLabel" value="#{group.address}" />
                            <ui:param name="itemValue" value="#{group}" />
                        </ui:include>
                    </h:panelGrid>
                </p:panel>

                <p:panel>
                    <p:commandButton icon="ui-icon-search" value="Buscar" actionListener="#{userBean.search}" update=":FrmGSUser:PnlGSUser" />
                </p:panel>

                <ui:include src="/Components/Tables/User.xhtml" >
                    <ui:param name="DataModel" value="#{userBean.userDataModel}" />
                    <ui:param name="SelectedValue" value="#{userBean.selectedUser}" />
                </ui:include>

                <p:panel>
                    <p:commandButton icon="ui-icon-delete" value="Eliminar" actionListener="#{userBean.delete}" update="@form" >
                        <p:confirm header="Eliminar" message="¿Desea eliminar el usuario seleccionado?" icon="ui-icon-delete" />
                    </p:commandButton>
                </p:panel>

                <ui:include src="/Components/ConfirmationDialog.xhtml" />

            </p:panel>
        </h:form>
    </p:dialog>
</ui:composition>