<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:p="http://primefaces.org/ui"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core">
    <p:dialog id="id#{CantonPopup}" header="Cantónes" widgetVar="#{CantonPopup}" resizable="false" minimizable="false" maximizable="false" width="250"  >  
        <h:form id="frm#{CantonPopup}"> 

            <p:dataTable id="cantons" var="canton" value="#{value}" selection="#{selection}" >  
                <f:facet name="header">  
                    Seleccione el cantón
                </f:facet>
                <p:column headerText="Nombre" style="width:4%">  
                    #{canton.name}  
                </p:column>  
                <p:column style="width:4%">  
                    <p:commandButton onclick="PF('#{CantonPopup}').hide()" icon="ui-icon-check" title="Seleccionar" type="submit" update="#{update}" ajax="true">  
                        <f:setPropertyActionListener value="#{canton}" target="#{selection}" />      
                    </p:commandButton>
                </p:column>  
            </p:dataTable>   

        </h:form>  
    </p:dialog> 
</ui:composition>