<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:p="http://primefaces.org/ui"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core">
    <p:dialog id="id#{DistrictPopup}" header="Distritos" widgetVar="#{DistrictPopup}" resizable="false" minimizable="false" maximizable="false" width="250" >  
        <h:form id="frmD#{DistrictPopup}"> 
            <p:panel id = "DistrictPanel">
                <p:dataTable id="pdatatable#{DistrictPopup}" var="district" value="#{value}" selection="#{selection}" >  
                    <f:facet name="header">  
                        Seleccione el districto
                    </f:facet>
                    <p:column headerText="Nombre" style="width:4%">  
                        #{district.name}  
                    </p:column>  
                    <p:column style="width:4%">  
                        <p:commandButton id="selectButtonCanton" onclick="PF('#{DistrictPopup}').hide()" icon="ui-icon-check" title="Seleccionar" type="submit" update="#{update}" ajax="true">  
                            <f:setPropertyActionListener value="#{district}" target="#{selection}" />      
                        </p:commandButton>  
                    </p:column>  
                </p:dataTable>   
            </p:panel>
        </h:form>  
    </p:dialog> 
</ui:composition>