<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:p="http://primefaces.org/ui"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core">
    <p:dialog id ="id#{ProvincePopup}" header="Provincias" widgetVar="#{ProvincePopup}" resizable="false" minimizable="false" maximizable="false" width="250" >  
        <h:form id="frm#{ProvincePopup}">  

            <p:dataTable id="pdatatable#{ProvincePopup}" var="province" value="#{value}" selection="#{selection}" >  

                <f:facet name="header">  
                    Seleccione la provincia
                </f:facet>  

                <p:column headerText="Nombre" style="width:4%">  
                    #{province.name}  
                </p:column>  

                <p:column style="width:4%">  
                    <p:commandButton id="selectButton" onclick="PF('#{ProvincePopup}').hide()" icon="ui-icon-check" title="Seleccionar" type="submit" update="#{update}" ajax="true">  
                        <f:setPropertyActionListener value="#{province}" target="#{selection}" />      
                    </p:commandButton>  
                </p:column>  
            </p:dataTable>   
        </h:form>  
    </p:dialog> 
</ui:composition>