<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:p="http://primefaces.org/ui"
                xmlns:h="http://xmlns.jcp.org/jsf/html">
    <p:panel style="border: 0px">
        <h:form id="#{key}frmAssignUser" >  
            <p:panel id="#{key}panelFrmAssignUser">
                <p:growl id="mensajes" showDetail="true" life="200000" />
                <p:panelGrid  id="#{key}panel" columns="3" >
                    <p:outputLabel value="Provincia:" />
                    <h:inputText id="txtProvince" value="#{provinceName}"  disabled="true" />
                    <p:commandButton type="button" value="Seleccionar" onclick="PF('#{key}ProvincePopup').show()" />

                    <p:outputLabel value="Cantón:" />
                    <h:inputText id="txtCanton" value="#{cantonName}"  disabled="true" />
                    <p:commandButton type="button" value="Seleccionar" onclick="PF('#{key}CantonPopup').show()"/>

                    <p:outputLabel value="Distrito:" />
                    <h:inputText id="txtDistrict" value="#{districtName}"  disabled="true" />
                    <p:commandButton type="button" value="Seleccionar" onclick="PF('#{key}DistrictPopup').show()"/>
                </p:panelGrid>
            </p:panel>
        </h:form>
    </p:panel>
</ui:composition>