body{
    font-family: "Lucida Grande", "Lucida Sans Unicode", sans-serif;
    font-size: 14px;
    font-weight: normal;
}


#header{
    background: #00CED1;
    color: white;
    font-size: 16px;
    text-align: center;
}

#content{
    color: black;
}

#content span{
    color: black;
    font-weight: bold;
}

