@import url('/MasQueJovenAdmin/faces/javax.faces.resource/growl.css?ln=css');
@import url('/MasQueJovenAdmin/faces/javax.faces.resource/dock.css?ln=css');
@import url('/MasQueJovenAdmin/faces/javax.faces.resource/menuBar.css?ln=css');
@import url('/MasQueJovenAdmin/faces/javax.faces.resource/folderDialog.css?ln=css');




.loginPanel{
    position:absolute;
    top:50%;
    left: 50%;
    margin-top: -180px;
    margin-left: -180px;
    font-family: sans-serif;

    //background: url(images/menu_bg.jpg) no-repeat center top #fff;
}

.loginPanel .ui-widget-header{
    color: white; 
    font-size: 16px;
    font-weight: normal;   
    text-shadow: 0 -1px 0 rgba(0,0,0,0.5); 
    border: 1px solid #486582;
    background: linear-gradient(#60c8f2 0,#3068a2 100%);
}

.ui-panel .ui-button{



}
.help-custom{
    background: url(images/help.png) no-repeat left;
    background-position: 40px;
    padding: 0 0 0 58px;
    color: black;
    font-weight: bold;
    font-size: 13px;
}

.exit-custom{
    background: url(images/user_logout.png) no-repeat right;
    background-position: 40px;
    padding: 0 0 0 58px;
    color: black;
    font-weight: bold;
    font-size: 13px;
    color: #ffffff;
    text-shadow: 0 -1px 0 rgba(0,0,0,0.5);  
}

.notifications-custom{
    background: url(images/comment.png) no-repeat right;
    background-position: 40px;
    padding: 0 0 0 58px;
    color: #ffffff;
    text-shadow: 0 -1px 0 rgba(0,0,0,0.5);  
    font-weight: bold;
    font-size: 13px;
}
.ui-panel {
    font-family: sans-serif;
}

.ui-panel .ui-button-text-only .ui-button-text {
    color: #fff;
    background: linear-gradient(#60c8f2 0,#3068a2 100%);
    border-color: #486582;
    border: 1px solid #ccc;
    border-radius: 3.01px;
    float: left;
    font-size: 16px;
    font-weight: normal;
}



.ui-dialog{
    border: 1px ; /* some kind of blue border */
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    //background-color:#E7E9E8;  
    border: 1px solid #486582;
    //background: linear-gradient(#3BBB72 0,#3068a2 100%);
    //
}

.ui-dialog-titlebar{
    text-align: center;
    font-size: 16px;
    font-weight: normal;  
    text-shadow: 0 -1px 0 rgba(0,0,0,0.5);  
    background: linear-gradient(#60c8f2 0,#3068a2 100%);

}

.ui-dialog .ui-dialog-titlebar{
    padding: 0.9em 0.9em 0.9em 1em;
    position: relative;

    font-family: 'Lucida Grande', Tahoma, Verdana, Arial, sans-serif;
}


.ui-dialog .ui-dialog-title{
    float: right;
    margin: 0.3em 16px 0.1em 0px;
    text-align: center;
    // color: #fff;
}

.ui-widget-header .ui-icon{
    background-image: none;
}


.ui-widget-header .ui-icon:hover{
    background-image: url('/MasQueJovenAdmin/faces/javax.faces.resource/images/ui-icons_616161_256x240.png?ln=primefaces-aristo');
}



.ui-icon-minus {
    background-color: #ECC856;
    background-color: -moz-linear-gradient(top, #e59130 0%, #ffdf4b 100%); /* Firefox */
    background-color: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#e59130), to(#ffdf4b)); /* Safari + Chrome */
    color: #742a08;
    top: 6px;
    left: 12px;
    overflow: hidden;
    display: block;
    margin-right: 7px;
    font: bold 14px/14px 'Helvetica', 'Arial';
    text-align: center;
    color: #FFF;
    -moz-box-shadow: 0 -1px 1px 0 rgba(0, 0, 0, 0.3) inset, 0 1px 3px 0 rgba(0, 0, 0, 0.80) inset, 0 1px 0px 0 rgba(255, 255, 255, 0.40); /* Firefox */
    -webkit-box-shadow: 0 -1px 1px 0 rgba(0, 0, 0, 0.3) inset, 0 1px 3px 0 rgba(0, 0, 0, 0.80) inset, 0 1px 0px 0 rgba(255, 255, 255, 0.40); /* Safari + Chrome */
    box-shadow: 0 -1px 1px 0 rgba(0, 0, 0, 0.3) inset, 0 1px 3px 0 rgba(0, 0, 0, 0.80) inset, 0 1px 0px 0 rgba(255, 255, 255, 0.40);

}

.ui-icon-plus {
    background-color: #ECC856;
    background-color: -moz-linear-gradient(top, #e59130 0%, #ffdf4b 100%); /* Firefox */
    background-color: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#e59130), to(#ffdf4b)); /* Safari + Chrome */
    color: #742a08;
    top: 6px;
    left: 12px;
    overflow: hidden;
    display: block;
    margin-right: 7px;
    font: bold 14px/14px 'Helvetica', 'Arial';
    text-align: center;
    color: #FFF;
    -moz-box-shadow: 0 -1px 1px 0 rgba(0, 0, 0, 0.3) inset, 0 1px 3px 0 rgba(0, 0, 0, 0.80) inset, 0 1px 0px 0 rgba(255, 255, 255, 0.40); /* Firefox */
    -webkit-box-shadow: 0 -1px 1px 0 rgba(0, 0, 0, 0.3) inset, 0 1px 3px 0 rgba(0, 0, 0, 0.80) inset, 0 1px 0px 0 rgba(255, 255, 255, 0.40); /* Safari + Chrome */
    box-shadow: 0 -1px 1px 0 rgba(0, 0, 0, 0.3) inset, 0 1px 3px 0 rgba(0, 0, 0, 0.80) inset, 0 1px 0px 0 rgba(255, 255, 255, 0.40);
}


.ui-icon-extlink {
    background-color: #67982f;
    background-color: -moz-linear-gradient(top, #70a847 0%, #a1e268 100%);
    background-color: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#70a847), to(#a1e268)); /* Safari + Chrome */
    color: #093b00;
    top: 6px;
    left: 12px;
    overflow: hidden;
    display: block;
    margin-right: 7px;
    font: bold 14px/14px 'Helvetica', 'Arial';
    text-align: center;
    color: #FFF;
    -moz-box-shadow: 0 -1px 1px 0 rgba(0, 0, 0, 0.3) inset, 0 1px 3px 0 rgba(0, 0, 0, 0.80) inset, 0 1px 0px 0 rgba(255, 255, 255, 0.40); /* Firefox */
    -webkit-box-shadow: 0 -1px 1px 0 rgba(0, 0, 0, 0.3) inset, 0 1px 3px 0 rgba(0, 0, 0, 0.80) inset, 0 1px 0px 0 rgba(255, 255, 255, 0.40); /* Safari + Chrome */
    box-shadow: 0 -1px 1px 0 rgba(0, 0, 0, 0.3) inset, 0 1px 3px 0 rgba(0, 0, 0, 0.80) inset, 0 1px 0px 0 rgba(255, 255, 255, 0.40);
}
.ui-icon-newwin {
    background-color: #67982f;
    background-color: -moz-linear-gradient(top, #70a847 0%, #a1e268 100%);
    background-color: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#70a847), to(#a1e268)); /* Safari + Chrome */
    color: #093b00;
    top: 6px;
    left: 12px;
    overflow: hidden;
    display: block;
    margin-right: 7px;
    font: bold 14px/14px 'Helvetica', 'Arial';
    text-align: center;
    color: #FFF;
    -moz-box-shadow: 0 -1px 1px 0 rgba(0, 0, 0, 0.3) inset, 0 1px 3px 0 rgba(0, 0, 0, 0.80) inset, 0 1px 0px 0 rgba(255, 255, 255, 0.40); /* Firefox */
    -webkit-box-shadow: 0 -1px 1px 0 rgba(0, 0, 0, 0.3) inset, 0 1px 3px 0 rgba(0, 0, 0, 0.80) inset, 0 1px 0px 0 rgba(255, 255, 255, 0.40); /* Safari + Chrome */
    box-shadow: 0 -1px 1px 0 rgba(0, 0, 0, 0.3) inset, 0 1px 3px 0 rgba(0, 0, 0, 0.80) inset, 0 1px 0px 0 rgba(255, 255, 255, 0.40);

}

.ui-inputfield{
    width: 200px;

}

.ui-inputfield:focus{
    border: 1px solid #4195fc; /* some kind of blue border */
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 0px 0px 4px #4195fc;
    -moz-box-shadow: 0px 0px 4px #4195fc;
    box-shadow: 0px 0px 4px #4195fc; /* some variation of blue for the shadow */
}




.ui-fileupload-buttonbar .ui-fileupload-choose input {
    width: 500px;
    visibility: hidden;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
    //color: red;//Color de las letras de los botones
    /*background: none;*/ //Background de los botones
}


.ui-panelgrid td, .ui-panelgrid tr{
    border-style: none !important
}

.icon-btn{
    background: transparent !important; 
    width: 48px; 
    height: 42px;
    border: 0px;
    border-top: 0px;  
    background: url("#{resource['images/folder.png']}")  no-repeat center top !important;  
    box-shadow: none !important;
}





.ui-widget-overlay {
    filter:alpha(opacity=80);  /* works in IE 7 */
    opacity: 0.8;  /* works in Firefox */
}

.grid-desktop{
    border-style: none !important;
    background: transparent;
    color: #fff;
}

.grid-desktop td, .grid-desktop tr{
    border-style: none !important;
    background: transparent;
    padding-bottom: 10em;
    border: 50px !important;
}
.grid-desktop td{
    padding: 0px 0px 0px 0px !important;
}

.grid-desktop .ui-button{
    border: 0px;
}

.grid-desktop .label-desktop{
    color: #fff;
    font-size: 10pt;
    font-family: 'Lucida Grande', Tahoma, Verdana, Arial, sans-serif;
    text-shadow: black 0px 1px 0px;
}



//////////////////////////////////////////////////////////////////////////////
