/*BUTTONS*/
.ui-icon-minus {
    background: #F3BB55;
    display: inline-block;
    margin: 2px 0px 3px 1px;
    width: 12px;
    height: 12px;
    border-radius: 100%;
    box-shadow: 0px 1px 0px rgba(255,255,255,.5);
    text-indent: -9999px;
    position: relative;
}

.ui-icon-minus:after{
    content: '';
    display: block;
    position: absolute;
    top: 2px;
    left: 1px;
    bottom: 1px;
    right: 1px;
    border-radius: 100%;
    background: -webkit-linear-gradient(white, rgba(255, 255, 255, .9) 2%, white, rgba(255, 255, 255, .4) 16%, rgba(255, 255, 255, 0) 43%, rgba(255, 255, 255, .74), rgba(255, 255, 255, .7) 122%, rgba(255, 255, 255, .7));
    background: -moz-linear-gradient(white, rgba(255, 255, 255, .9) 2%, white, rgba(255, 255, 255, .4) 16%, rgba(255, 255, 255, 0) 43%, rgba(255, 255, 255, .74), rgba(255, 255, 255, .7) 122%, rgba(255, 255, 255, .7));
    box-shadow: inset 0px -3px -5px 3px rgba(255, 255, 255, 0.2), inset 0px 2px -5px 3px rgba(255, 255, 255, 0.2);
}

.ui-icon-minus:before{
    content: '';
    display: block;
    position: absolute;
    border-radius: 100%;
    box-shadow: inset 0 1px 4px rgba(0, 0, 0, .8);
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
}

.ui-icon-extlink{
    background: #96D16F;
    display: inline-block;
    margin: 2px 0px 3px 1px;
    width: 12px;
    height: 12px;
    border-radius: 100%;
    box-shadow: 0px 1px 0px rgba(255,255,255,.5);
    text-indent: -9999px;
    position: relative;
}

.ui-icon-extlink:after{
    content: '';
    display: block;
    position: absolute;
    top: 2px;
    left: 1px;
    bottom: 1px;
    right: 1px;
    border-radius: 100%;
    background: -webkit-linear-gradient(white, rgba(255, 255, 255, .9) 2%, white, rgba(255, 255, 255, .4) 16%, rgba(255, 255, 255, 0) 43%, rgba(255, 255, 255, .74), rgba(255, 255, 255, .7) 122%, rgba(255, 255, 255, .7));
    background: -moz-linear-gradient(white, rgba(255, 255, 255, .9) 2%, white, rgba(255, 255, 255, .4) 16%, rgba(255, 255, 255, 0) 43%, rgba(255, 255, 255, .74), rgba(255, 255, 255, .7) 122%, rgba(255, 255, 255, .7));
    box-shadow: inset 0px -3px -5px 3px rgba(255, 255, 255, 0.2), inset 0px 2px -5px 3px rgba(255, 255, 255, 0.2);
}

.ui-icon-extlink:before{
    content: '';
    display: block;
    position: absolute;
    border-radius: 100%;
    box-shadow: inset 0 1px 4px rgba(0, 0, 0, .8);
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
}

.ui-dialog .ui-icon-closethick {
    background: #FD4E4E;
    display: inline-block;
    margin: 2px 0px 3px 1px;
    width: 12px;
    height: 12px;
    border-radius: 100%;
    box-shadow: 0px 1px 0px rgba(255,255,255,.5);
    text-indent: -9999px;
    position: relative;
}

.ui-dialog .ui-icon-closethick:after{
    content: "";
    display: block;
    position: absolute;
    top: 2px;
    left: 1px;
    bottom: 1px;
    right: 1px;
    border-radius: 100%;
    background: linear-gradient(#FFF, rgba(255, 255, 255, 0.9) 2%, #FFF, rgba(255, 255, 255, 0.4) 16%, rgba(255, 255, 255, 0) 43%, rgba(255, 255, 255, 0.74), rgba(255, 255, 255, 0.7) 122%, rgba(255, 255, 255, 0.7)) repeat scroll 0% 0% transparent;

}

.ui-dialog .ui-icon-closethick:before{
    content: '';
    display: block;
    position: absolute;
    border-radius: 100%;
    box-shadow: inset 0 1px 4px rgba(0, 0, 0, .8);
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
}

.ui-icon-newwin{
    background: #96D16F;
    display: inline-block;
    margin: 2px 0px 3px 1px;
    width: 12px;
    height: 12px;
    border-radius: 100%;
    box-shadow: 0px 1px 0px rgba(255,255,255,.5);
    text-indent: -9999px;
    position: relative;
}

.ui-icon-newwin:after{
    content: '';
    display: block;
    position: absolute;
    top: 2px;
    left: 1px;
    bottom: 1px;
    right: 1px;
    border-radius: 100%;
    background: -webkit-linear-gradient(white, rgba(255, 255, 255, .9) 2%, white, rgba(255, 255, 255, .4) 16%, rgba(255, 255, 255, 0) 43%, rgba(255, 255, 255, .74), rgba(255, 255, 255, .7) 122%, rgba(255, 255, 255, .7));
    background: -moz-linear-gradient(white, rgba(255, 255, 255, .9) 2%, white, rgba(255, 255, 255, .4) 16%, rgba(255, 255, 255, 0) 43%, rgba(255, 255, 255, .74), rgba(255, 255, 255, .7) 122%, rgba(255, 255, 255, .7));
    box-shadow: inset 0px -3px -5px 3px rgba(255, 255, 255, 0.2), inset 0px 2px -5px 3px rgba(255, 255, 255, 0.2);
}

.ui-icon-newwin:before{
    content: '';
    display: block;
    position: absolute;
    border-radius: 100%;
    box-shadow: inset 0 1px 4px rgba(0, 0, 0, .8);
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
}

.ui-icon-plus{
    background: #F3BB55;
    display: inline-block;
    margin: 2px 0px 3px 1px;
    width: 12px;
    height: 12px;
    border-radius: 100%;
    box-shadow: 0px 1px 0px rgba(255,255,255,.5);
    text-indent: -9999px;
    position: relative;
}

.ui-icon-plus:after{
    content: '';
    display: block;
    position: absolute;
    top: 2px;
    left: 1px;
    bottom: 1px;
    right: 1px;
    border-radius: 100%;
    background: -webkit-linear-gradient(white, rgba(255, 255, 255, .9) 2%, white, rgba(255, 255, 255, .4) 16%, rgba(255, 255, 255, 0) 43%, rgba(255, 255, 255, .74), rgba(255, 255, 255, .7) 122%, rgba(255, 255, 255, .7));
    background: -moz-linear-gradient(white, rgba(255, 255, 255, .9) 2%, white, rgba(255, 255, 255, .4) 16%, rgba(255, 255, 255, 0) 43%, rgba(255, 255, 255, .74), rgba(255, 255, 255, .7) 122%, rgba(255, 255, 255, .7));
    box-shadow: inset 0px -3px -5px 3px rgba(255, 255, 255, 0.2), inset 0px 2px -5px 3px rgba(255, 255, 255, 0.2);
}

.ui-icon-plus:before{
    content: '';
    display: block;
    position: absolute;
    border-radius: 100%;
    box-shadow: inset 0 1px 4px rgba(0, 0, 0, .8);
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
}

.ui-dialog .ui-dialog-titlebar-close, .ui-dialog .ui-dialog-titlebar-minimize, .ui-dialog .ui-dialog-titlebar-maximize{
    float: left !important;
}

.ui-dialog .ui-dialog-titlebar-close span, .ui-dialog .ui-dialog-titlebar-minimize span, .ui-dialog .ui-dialog-titlebar-maximize span{
    background-image: none;
}

/*END BUTTONS*/

/*BEGIN DIALOG*/

.ui-panel .ui-panel-titlebar{
    background: transparent;
    text-align: center;
}

.ui-dialog{
    background: -webkit-linear-gradient(rgba(233, 233, 233, 1.0), rgba(178, 178, 178, 1.0) 21px, #EDEDED, #EDEDED 23px);
    background: -moz-linear-gradient(rgba(233, 233, 233, 1.0), rgba(178, 178, 178, 1.0) 21px, #EDEDED, #EDEDED 23px);
    border-radius: 5px;
    box-shadow: inset 0 1px 0 rgba(255,255,255,.6), 0 22px 70px 4px rgba(0,0,0,0.56), 0 0 0 1px rgba(0, 0, 0, 0.3);
    text-align: left;
    border-top: 1px solid #656565;
}

.ui-dialog .ui-dialog-titlebar{
    position: relative;
    z-index: 2;
    color: #3c3c3c;
    font-size: 13px;
    line-height: 21px;
    text-decoration: none;
    text-shadow: 0 1px 1px #e7e7e7;
    text-align: center;
    text-transform: capitalize;
    border: 10px !important; 
    padding: .0em .0em .0em 1em !important; 

}

.ui-dialog-titlebar{
    border-top: 1px solid #656565;
}
.ui-dialog .ui-dialog-title{
    float: none !important;
}
/*END DIALOG*/

/*MENU */
.ui-menu{
    font-family: "Lucida Grande", "Lucida Sans Unicode", sans-serif; 
}

.ui-menubar{
    background: #e9e9e9;
    background: -moz-linear-gradient(top, #e9e9e9 0%, #bbbabb 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e9e9e9), color-stop(100%,#bbbabb));
    height: 21px;
    position: fixed;
    z-index: 1000;
    border-bottom: 1px solid #444444;
    box-shadow: 0px 0px 10px #141414;
    -webkit-user-select: none;
    -moz-user-select: none;
    font-family: "Lucida Grande", "Lucida Sans Unicode", sans-serif; 
    font-size: 12px; 
    width: 100% !important; 
    height: 100%; 
    margin: 0;
    padding: 0;
    margin-top: -8px;
}

.ui-menu .ui-menu-parent .ui-menu-child {
    float: left;
    left: 0;
    top: 22px;
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    background: rgba(255,255,255,0.95);
    box-shadow: 0 6px 12px rgba(0,0,0,0.7);
    border-radius: 0 0 5px 5px;
}

.ui-menu .ui-menu-parent .ui-menu-child .ui-menuitem-text{
    font-family: "Lucida Grande", "Lucida Sans Unicode", sans-serif; 
    float: left;
    left: 0;
    top: 22px;
    list-style: none;
    margin: 0;
    padding: 0;
    border-radius: 0 0 5px 5px;
}


.ui-state-hover, .ui-menu .ui-state-hover{
    box-shadow: 0 0 5px rgba(81, 203, 238, 1);
    background-color: #45A3FF;
    border-top: solid 1px #1D48B1;
    border-bottom: solid 1px #45A3FF;
    color:#ffffff;
}
/*END MENU*/

/*BEGIN DOCK*/


.ui-dock-container-bottom{
    background: url(images/dock-bg.png) repeat-x bottom;
    border: 0px;
    position: relative;
    display: inline-block;
    padding: 0 5px;
    margin: 0;
}

.ui-dock-container-bottom:before{
    background: url(images/dock-bg-left.png) no-repeat left bottom;
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    width: 38px;
    left: -38px;
}

.ui-dock-container-bottom:after{
    background: url(images/dock-bg-right.png) no-repeat right bottom;
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    width: 38px;
    right: -38px;
}
/*END DOCK*/
body{
    background: url(images/wallpaper.jpeg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: #666262;
    font-size: 12pt;
    font-family: "Lucida Grande", "Lucida Sans Unicode", sans-serif;
    margin-left: 0px;
}

.exit-custom{
    background: url(images/user_logout.png) no-repeat right;
    background-position: 40px;
    padding: 0 0 0 58px;
    display: inline-block;
    height: 16px;
    line-height: 16px;
    font-size: 11px;
    border-radius: 4px;
    border: 0px;
    text-decoration: none;
    font-family: "Lucida Grande", "Lucida Sans Unicode", sans-serif;
    font-weight: normal;
    color: #000;
    text-shadow: 0 1px 0 rgba(255,255,255,0.09);

}

.notifications-custom{
    background: url(images/comment.png) no-repeat right;
    background-position: 40px;
    padding: 0 0 0 58px;
    display: inline-block;
    height: 16px;
    line-height: 16px;
    font-size: 11px;
    border-radius: 4px;
    border: 0px;
    text-decoration: none;
    font-family: "Lucida Grande", "Lucida Sans Unicode", sans-serif;
    font-weight: normal;
    color: #000;
    text-shadow: 0 1px 0 rgba(255,255,255,0.09);
}


.grid-desktop{
    border-style: none !important;
    background: transparent;
    color: #fff;
}

.grid-desktop td, .grid-desktop tr{
    border-style: none !important;
    background: transparent;
    padding-bottom: 10em;
    border: 50px !important;
}
.grid-desktop td{
    padding: 0px 0px 0px 0px !important;
}

.grid-desktop .ui-button{
    border: 0px;
}

.grid-desktop .label-desktop{
    color: #fff;
    font-size: 10pt;
    font-family: 'Lucida Grande', Tahoma, Verdana, Arial, sans-serif;
    text-shadow: black 0px 1px 0px;
}
/*BEGIN FOLDER DIALOG*/
.folder-dialog{
    background: #ffffff;
}

.folder-dialog .ui-dialog-titlebar{
    text-align: center;
    font-size: 16px;
    font-weight: normal;  
    background: rgba(0,0,0,0.75) !important;
    color: #ffffff !important;
    text-shadow: 0 -1px 0 rgba(0,0,0,0.5)
}


.folder-dialog .grid-desktop{
    border-style: none !important;
    background: transparent;

}

.folder-dialog .grid-desktop td, .grid-desktop tr{
    border-style: none !important;
    background: transparent;
    padding-bottom: 10em;
    border: 50px !important;
}
.folder-dialog .grid-desktop td{
    padding: 0px 0px 0px 0px !important;
}

.folder-dialog .grid-desktop .ui-button{
    border: 0px;
}

.folder-dialog .grid-desktop .label-desktop{
    color: black;
    font-size: 10pt;
    font-family: 'Lucida Grande', Tahoma, Verdana, Arial, sans-serif;
    text-shadow: #ffffff 0px 1px 0px;
    word-wrap: break-word;
}
/*END FOLDER DIALOG*/

/*BEGIN BUTTON*/
.icon-btn{
    background: transparent !important; 
    width: 48px; 
    height: 42px;
    border: 0px;
    border-top: 0px;  
    background: url(images/folder.png)  no-repeat center top !important;  
    box-shadow: none !important;
}

.ui-panel .ui-button-text-only .ui-button-text {
    display: inline-block;
    height: 16px;
    line-height: 16px;
    font-size: 11px;
    border-radius: 4px;
    border: 0px;
    text-decoration: none;
    font-family: "Lucida Grande", "Lucida Sans Unicode", sans-serif;
    font-weight: normal;
    color: #000;
    text-shadow: 0 1px 0 rgba(255,255,255,0.09);
    background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0, #EBEBEB),color-stop(0.5, #ECECEC),color-stop(0.5, #F3F3F3),color-stop(1, #FFFFFF));
    background-image: -moz-linear-gradient( center bottom, #EBEBEB 0%, #ECECEC 50%, #F3F3F3 50%, #FFFFFF 100%);
    box-shadow: inset 0 1px 0 rgba(255,255,255,1), 0 1px 0 rgba(0,0,0,0.09);
}

.ui-panel .ui-button-text-only .ui-button-text {
    display: inline-block;
    height: 20px;
    line-height: 16px;
    font-size: 14px;
    border-radius: 4px;
    border: 0px;
    text-decoration: none;
    font-family: "Lucida Grande", "Lucida Sans Unicode", sans-serif;
    font-weight: normal;
    color: #000;
    text-shadow: 0 1px 0 rgba(255,255,255,0.09);
    background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0, #EBEBEB),color-stop(0.5, #ECECEC),color-stop(0.5, #F3F3F3),color-stop(1, #FFFFFF));
    background-image: -moz-linear-gradient( center bottom, #EBEBEB 0%, #ECECEC 50%, #F3F3F3 50%, #FFFFFF 100%);
    box-shadow: inset 0 1px 0 rgba(255,255,255,1), 0 1px 0 rgba(0,0,0,0.09);
}
/*BEGIN BUTTON*/

/*BEGIN INPUT*/
.ui-inputtext, .ui-widget-content .ui-inputtext, .ui-widget-header .ui-inputtext, .ui-selectonemenu-label {
    height: 24px;
    border-radius: 3px;
    border: 1px solid rgba(0,0,0,0);
    padding: 2px 26px 2px 5px;
    font-family: "Lucida Grande", "Lucida Sans Unicode", sans-serif;
    font-size: 14px;
}
/*END INPUT*/

.ui-widget-content{
    font-family: "Lucida Grande", "Lucida Sans Unicode", sans-serif;
    border: 0px;
}

.ui-panel{
    background: transparent;
    border: 0px;
}

/*BEGIN GROWL*/
.ui-growl-item-container {   
    border-radius: 5px;
    box-shadow: inset 0 1px 0 rgba(255,255,255,.6), 0 22px 70px 4px rgba(0,0,0,0.56), 0 0 0 1px rgba(0, 0, 0, 0.3);
    text-align: left;
    border-top: 1px solid #656565;
    position: relative;
    z-index: 2;
    color: #3c3c3c;
    font-size: 13px;
    line-height: 21px;
    text-decoration: none;
    text-shadow: 0 1px 1px #e7e7e7;
    text-align: center;
    text-transform: capitalize;
    border: 10px !important; 
    padding: .0em .0em .0em 1em !important; 
    background: -webkit-linear-gradient(rgba(233, 233, 233, 1.0), rgba(178, 178, 178, 1.0) 0px, #EDEDED, #EDEDED 23px);
    background: -moz-linear-gradient(rgba(233, 233, 233, 1.0), rgba(178, 178, 178, 1.0) 0px, #EDEDED, #EDEDED 23px);
}

.ui-growl-title {
    position: relative;
    z-index: 2;
    color: #3c3c3c;
    font-size: 14px;
    line-height: 21px;
    text-decoration: none;
    text-shadow: 0 1px 1px #e7e7e7;
    text-align: center;
    text-transform: capitalize;
    border: 10px !important; 
    padding: .0em .0em .0em 1em !important; 
    font-weight: bold
}
/*END GROWL*/

.ui-dock-bottom span{
    display: inline-block;
    padding: 5px 12px;
    background: rgba(0, 0, 0, 0.6);
    font-style: normal;
    font-size: 12px;
    color: #fff;
    text-shadow: 0 1px 1px #000;
    border-radius: 10px;
}
.ui-dock-bottom span:after{
    content: " ";
    position: absolute;
    bottom: -6px;
    left: 50%;
    margin-left: -6px;
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid rgba(0, 0, 0, 0.6);
    border-bottom: none;
}

.ui-scrollpanel{
    background: transparent;
}
.ui-dialog .ui-panel .ui-panelgrid-cell{
    border: 900px;
    background: #EDEDED; 
}
.ui-dialog .ui-outputlabel{
    font-size: 14px;
}
.ui-dialog .ui-panel-title{
    font-size: 16px;
}
.ui-panelgrid {
    border: 0px !important;   
    border-collapse: initial;
    border-top:solid 0px;
}

.ui-icon-search{
    background: url(images/search.png)  no-repeat center top !important;  
}

.ui-icon-delete{
    background: url(images/delete.png)  no-repeat center top !important;  
}

.ui-icon-check{
    background: url(images/check.png)  no-repeat center top !important;  
}
.ui-icon-cancel{
    background: url(images/cancel.png)  no-repeat center top !important;  
}

.ui-icon-add{
    background: url(images/add.png)  no-repeat center top !important;  
}
.ui-button .ui-button-text, .ui-panelgrid .ui-button .ui-button-text{
    display: inline-block;
    height: 20px;
    line-height: 16px;
    font-size: 14px;
    border-radius: 4px;
    border: 0px;
    text-decoration: none;
    font-family: "Lucida Grande", "Lucida Sans Unicode", sans-serif;
    font-weight: normal;
    color: #000;
    text-shadow: 0 1px 0 rgba(255,255,255,0.09);
    background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0, #EBEBEB),color-stop(0.5, #ECECEC),color-stop(0.5, #F3F3F3),color-stop(1, #FFFFFF));
    background-image: -moz-linear-gradient( center bottom, #EBEBEB 0%, #ECECEC 50%, #F3F3F3 50%, #FFFFFF 100%);
    box-shadow: inset 0 1px 0 rgba(255,255,255,1), 0 1px 0 rgba(0,0,0,0.09);
}

/*BEGIN TABLES*/
.ui-datatable .ui-datatable-header{
    font-family: "Lucida Grande", "Lucida Sans Unicode", sans-serif;
    font-size: 14px;
}
/*
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default{
    font-family: "Lucida Grande", "Lucida Sans Unicode", sans-serif;
    font-size: 14px;
}
*/
.ui-datatable thead th, .ui-datatable tbody td, .ui-datatable tfoot td{
    font-family: "Lucida Grande", "Lucida Sans Unicode", sans-serif;
    font-size: 14px;
}

/*END TABLES*/

/*CONFIRM DIALOG*/
.ui-dialog .ui-dialog-buttonpane {
    background: -webkit-linear-gradient(rgba(233, 233, 233, 1.0), rgba(178, 178, 178, 1.0) 21px, #EDEDED, #EDEDED 23px);
    background: -moz-linear-gradient(rgba(233, 233, 233, 1.0), rgba(178, 178, 178, 1.0) 21px, #EDEDED, #EDEDED 23px);
}

.ui-confirm-dialog-message{
    font-family: "Lucida Grande", "Lucida Sans Unicode", sans-serif;
    font-size: 14px;
}
/*END DIALOG*/

.loginPanel{
    position:absolute;
    top:50%;
    left: 50%;
    margin-top: -180px;
    margin-left: -180px;
    font-family: sans-serif;
    background: #EDEDED;
    background: #EDEDED;
    border-radius: 5px;
    box-shadow: inset 0 1px 0 rgba(255,255,255,.6), 0 22px 70px 4px rgba(0,0,0,0.56), 0 0 0 1px rgba(0, 0, 0, 0.3);
    text-align: left;
    border-top: 1px solid #656565;
}

.loginPanel .ui-widget-header{
    color: black; 
    font-size: 16px;
    font-weight: normal;   
    text-shadow: 0 1px 1px #e7e7e7;
    text-align: center;
    text-transform: capitalize;
    border: 0px solid #486582;
    font-family: "Lucida Grande", "Lucida Sans Unicode", sans-serif;
    font-size: 14px;
}
.loginPanel .ui-password{
    height: 24px;
    border-radius: 3px;
    border: 1px solid rgba(0,0,0,0);
    padding: 2px 26px 2px 5px;
    font-family: "Lucida Grande", "Lucida Sans Unicode", sans-serif;
    font-size: 14px;
}

.help-custom{
    background: url(images/help.png) no-repeat left;
    background-position: 40px;
    padding: 0 0 0 58px;
    color: black;
    font-weight: bold;
    font-size: 13px;
}
/*REQUIRED FIELDS*/
.ui-outputlabel .ui-outputlabel-rfi{
 color: red;   
}