<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:p="http://primefaces.org/ui"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core">
    <p:dialog id="ACUsser" minimizable="true" maximizable="true" widgetVar="ACUsser" width="600"  header="Asignar Usuario a Célula" resizable="true" showEffect="fade" hideEffect="fade" dynamic="true">
        <p:ajax event="close" listener="#{assign.hide}" update="ACUsser" />
        <p:scrollPanel style="height:600px; border: 0px" mode="native" >
            <ui:include src="/Components/Popup/ZonePopup.xhtml" >
                <ui:param name="key" value="CAUser" />  
                <ui:param name="provinceName" value="#{assign.provinceController.selectedProvince.name}" />  
                <ui:param name="cantonName" value="#{assign.provinceController.cantonController.selectedCanton.name}" />  
                <ui:param name="districtName" value="#{assign.provinceController.cantonController.districtController.selectedDistrict.name}" />  
            </ui:include>


            <p:panel style="border: 0px">
                <h:form id="frmGroupsToAssign">  
                    <p:growl showDetail="true" life="2000" />
                    <ui:include src="/Components/Tables/Group.xhtml" >
                        <ui:param name="DataModel" value="#{assign.provinceController.cantonController.districtController.groupController.groupDataModel}" />
                        <ui:param name="SelectedValue" value="#{assign.provinceController.cantonController.districtController.groupController.selectedGroup}" />
                    </ui:include>

                    <ui:include src="/Components/Tables/User.xhtml" >
                        <ui:param name="DataModel" value="#{assign.userDataModel}" />
                        <ui:param name="SelectedValue" value="#{assign.selectedUser}" />
                    </ui:include>

                    <p:panel>
                        <p:panelGrid columns="1">
                            <p:inputTextarea counter="counter" maxlength="1000"  counterTemplate="{0} máximo de caractéres ." autoResize="false" value="#{assign.comments}" style="height: 100px; width: 450px; overflow:auto;"/>
                            <h:outputText id="counter" />  
                            <p:commandButton  value="Asignar" actionListener="#{assign.assign}" ajax="true" type="submit" update=":frmGroupsToAssign" icon="ui-icon-add">  
                                <f:setPropertyActionListener value="#{user}" target="#{assign.selectedUser}" />      
                            </p:commandButton>  
                        </p:panelGrid>
                    </p:panel>  
                </h:form>  
            </p:panel>
        </p:scrollPanel>

        
        <ui:include src="/Components/Popup/ProvincesPopup.xhtml" >
            <ui:param name="ProvincePopup" value="CAUserProvincePopup" />
            <ui:param name="update" value=":CAUserfrmAssignUser, :idCAUserCantonPopup" />
            <ui:param name="value" value="#{assign.provinceController.provinces}" />
            <ui:param name="selection" value="#{assign.provinceController.selectedProvince}" />
        </ui:include>

        <ui:include src="/Components/Popup/CantonPopup.xhtml" >
            <ui:param name="CantonPopup" value="CAUserCantonPopup" />
            <ui:param name="update" value=":CAUserfrmAssignUser, :idCAUserDistrictPopup" />
            <ui:param name="value" value="#{assign.provinceController.cantonController.cantons}" />
            <ui:param name="selection" value="#{assign.provinceController.cantonController.selectedCanton}" />
        </ui:include>

        <ui:include src="/Components/Popup/DistrictPopup.xhtml" >
            <ui:param name="DistrictPopup" value="CAUserDistrictPopup" />
            <ui:param name="update" value=":CAUserfrmAssignUser, :frmGroupsToAssign" />
            <ui:param name="value" value="#{assign.provinceController.cantonController.districtController.districts}" />
            <ui:param name="selection" value="#{assign.provinceController.cantonController.districtController.selectedDistrict}" />
        </ui:include>

    </p:dialog>
</ui:composition>