<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:p="http://primefaces.org/ui"
                xmlns:h="http://xmlns.jcp.org/jsf/html">
    <p:dialog id="ICUser" minimizable="true" maximizable="false" widgetVar="ICUser" width="550" height="360" header="Registrar Usuario" resizable="false" showEffect="fade" hideEffect="fade" dynamic="true">  
        <h:form id="FrmICUser" >    
            <ui:include src="/Components/Panel/UserPanel.xhtml" >
                <ui:param name="firstName" value="#{userBean.user.firstName}" />
                <ui:param name="lastName" value="#{userBean.user.lastName}" />
                <ui:param name="secondLastName" value="#{userBean.user.secondLastName}" />
                <ui:param name="email" value="#{userBean.user.email}" />
                <ui:param name="phone" value="#{userBean.user.phone}" />
                <ui:param name="cellphone" value="#{userBean.user.cellphone}" />
                <ui:param name="birthDate" value="#{userBean.user.birthDate}" />
                <ui:param name="gender" value="#{userBean.user.gender}" />
            </ui:include>  
            <p:commandButton id="loginButton" value="Registrar" actionListener="#{userBean.insertUserConsolidation}" update="panel" icon="ui-icon-add"/>
        </h:form>
    </p:dialog>
</ui:composition>