<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:p="http://primefaces.org/ui"
                xmlns:f="http://xmlns.jcp.org/jsf/core">

    
    <p:selectOneMenu value="#{selectedValue}" effect="fade" converter="Groups" >
        <f:selectItem itemLabel="Seleccionar" itemValue="" />  
        <f:selectItems value="#{items}" var="group" itemLabel="#{itemLabel}" itemValue="#{itemValue}"/>
    </p:selectOneMenu>  

</ui:composition>