<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:p="http://primefaces.org/ui"
                xmlns:f="http://xmlns.jcp.org/jsf/core">
    <p:panel>
        <p:dataTable id="idGroupAssign" var="group" value="#{DataModel}" paginator="true" rows="10" selection="#{SelectedValue}" rowKey="#{group.idGroup}" selectionMode="single"  >  

            <f:facet name="header">  
                Seleccione la célula
            </f:facet>  

            <p:column headerText="Día">  
                #{group.completeDay}  
            </p:column>  

            <p:column headerText="Dirección">  
                #{group.address}  
            </p:column>  
        </p:dataTable> 
    </p:panel>
</ui:composition>