<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:p="http://primefaces.org/ui"
                xmlns:f="http://xmlns.jcp.org/jsf/core">
    <p:panel>
        <p:dataTable var="user" value="#{DataModel}" paginator="true" rows="10" selection="#{SelectedValue}" rowKey="#{user.idUser}" >  
            <f:facet name="header">  
                Seleccione un usuario
            </f:facet>  
            <p:column selectionMode="multiple" style="width:8%;text-align:center"/>
            <p:column headerText="Nombre">  
                #{user.firstName}  
            </p:column>  

            <p:column headerText="Primer Apellido">  
                #{user.lastName}  
            </p:column> 

            <p:column headerText="Segundo Apellido">  
                #{user.secondLastName}  
            </p:column> 

            <p:column headerText="Edad">  
                #{user.age}  
            </p:column> 
        </p:dataTable>   
    </p:panel>
</ui:composition>