<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:p="http://primefaces.org/ui"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core">
    <p:dialog styleClass="folder-dialog" id="digFolderGroup" minimizable="true" maximizable="true" widgetVar="FolderGroup" width="500"  header="Célula" resizable="true" showEffect="fade" hideEffect="fade">
       <p:panelGrid columns="1" styleClass="grid-desktop">
            <p:commandButton  styleClass="icon-btn" value ="" oncomplete="InsertGroup.show()"/>         
            <p:outputLabel value="Insertar&lt;br /&gt; Célula" styleClass="label-desktop"  escape="false"/>
        </p:panelGrid>
    </p:dialog>
</ui:composition>